<li style="display: inline-block; margin: 0 5px;">
	<a href="https://public.zsxq.com/groups/15552545182112.html?group_id=15552545182112&inviter_id=1484124882&inviter_sid=dk49dkz013&secret=hgpslubwfs11975orodg4gr4igz2fw2i&share_from=InviteUrl&keyword=0dAjLfdyM&type=group" target="_blank">
		<svg
			id="zsxq"
			class="custom-icon"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			viewBox="0 0 100 100"
			style="height: 30px; width: 30px;"
		>
			<circle
				class="outer-shape"
				cx="50"
				cy="50"
				r="48"
				style="opacity: 1; fill: #2e8b57;"
			></circle>
			<image
				href="https://zsxq.com/assets/img/zsxq_logo@2x.png"
				x="25"
				y="25"
				width="50"
				height="50"
				style="fill: #2e8b57; opacity: 1;"
			/>
		</svg>
	</a>
</li>