---
layout: default
---
<div class="home" id="home">
  <h1 class="pageTitle">{{ page.title | default: page.category }}</h1>
  <div class="posts noList">
    {% for post in site.posts %}
      {% if post.tags contains page.category %}
        <article>
          <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          <p>
            {% if post.description %}{{ post.description }}{% else %}{{
            post.excerpt | strip_html }}{% endif %}
          </p>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>